    <br>
    <br>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <p>Byte Sized Ideas is a tech blog by Deepanshu Lulla. All rights reserved<i class="copyright icon"></i></p> 
            
        </div>
    </div>
    </body>
</html>