<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item">
             <i class="idea icon"></i>Byte Sized Ideas
        </div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Blog Post</a>
    </div>
    
</div>