<% include ./partials/header %>
<% include ./partials/navbar %>
<div class="ui main text container">
    <div class="ui huge header container centered segment"> Welcome to Byte Sized Ideas</div>
     <div class="ui top attached">
         <div class="caption">
             <h2 id="error-msg">Sorry there is an error with the page!!!</h2>
         </div>
        
        <div class="image">
            <img class="ui image medium rounded" id="error-funny" src="https://i.pinimg.com/736x/01/c0/1c/01c01c45cb997f16675c5a5825645ceb--funny-happy-birthdays-pictures-of.jpg"></img>
        </div>
    </div>
</div>