<!DOCTYPE html>
<html>
    <head>
        <title> Blog by Deepanshu Lulla</title>
        <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet"></link>
        <!--sematic ui cdn-->
        <link type="text/css" href="/stylesheets/app.css" rel="stylesheet"></link>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108355350-1"></script>
		<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());

 			 gtag('config', 'UA-108355350-1');
		</script>
    

</head>

    

<body>
    <h1>Welcome to my blog</h1>
