i.icon.idea {
    font-size: 2.0em;
}
.container.main {
    margin-top: 5.0em;
}
.footer.inverted{
  position:fixed;
  bottom:0px;
  width:100%;
  text-align:center;
  margin-top:2.0em;
  
}
.ui.inverted.segment, .ui.primary.inverted.segment {
    background-color:rgba(0, 0, 0, 0.5);
    
}

#delete-form {
    display:inline;
}
#error-msg {
    text-align:center;
}
#error-funny {
    margin:0 auto;
}